@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Create two columns/boxes that floats next to each other */

section {
    padding-top: 25vh;
    overflow: hidden;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-bottom: 40vh;
}

aside {
    padding-left: 100px;
    float: right;
    width: 30%;
    height: 300px;
    font-size: 14px;
    color: #2d2d2b;
    /* only for demonstration, should be removed */
}


/* Style the list inside the menu */

aside ul {
    list-style-type: none;
    padding: 0;
}

aside > label {
    font-size:24px; 
    font-weight:600;
    text-shadow:3px 3px 5px #f1f1f1;
}

article {
    float: left;
    padding-left: 200px;
    width: 70%;
    height: 300px;
    color: #2d2d2b;
    /* only for demonstration, should be removed */
}


/* Clear floats after the columns */

section::after {
    content: "";
    display: table;
    clear: both;
}


/* Style the footer */


/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */

@media (max-width: 600px) {
    aside,
    article {
        width: 100%;
        height: auto;
    }
}

#thongtintaikhoan {
    background-image: url(https://sohanews.sohacdn.com/thumb_w/660/160588918557773824/2021/3/3/photo1614739385407-16147393859781224525920.jpg);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 30px;
}

#article-font-size {
    font-size: 14px;
}

.btn1 {
    display: inline-block;
    padding: 0.6em 1.7em;
    border: 0.1em solid #D3D3D3;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color: #2d2d2b;
    text-align: center;
    transition: all 0.2s;
    background-color: white;
    cursor: pointer;
}

.btn1:hover {
    background-color: #F7F7F7;
}

#donhang {
    border-top: 0.1em solid #EAEAEA;
    border-bottom: 0.1em solid #EAEAEA;
    background-color: #F9F9F9;
    padding: 0.8em;
    margin: 0.5em 0 0.4em 0;
    font-size: 15px;
    color: #000;
}