* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body{
    position: relative;
}


.btn {
    position:fixed;
    z-index:9999;
    top:90%;
    left:50%;
    transform: translateX(-50%);
    display: inline-block;
    color: #fff;
    font-size:18px;
    text-decoration: none;
    background:transparent; /* trong suot */
    outline:none; /* vien ngoai */
    border:none;
    padding:12px 48px;
    border-radius:50px;
    cursor: pointer;
    min-width: 120px;
    transition:opacity ease .3s;
}
.btn:hover{
    opacity: 0.5;
}

.btn + .btn{
    margin-left:16px;
}

.btn--success{
    background-color:#1c8302;
}
.btn--error{
    background-color:#ce0909;
}
.btn--warning{
    background-color:#817b06;
}
.btn--info{
    background-color:#084685;    
}

/* Toast */

#toast {
    position:fixed;
    top:120px;
    right:32px;
}
.toast{
    display:flex;
    background-color: #fff;
    align-items: center;
    padding:20px 0;
    max-width:450px;
    min-width: 400px;
    border-radius:2px;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0,0,0,.08);
    transition: all 0.4 linear;
    z-index: 99999;
}
@keyframes slideInLeft{
    from {
        opacity:0;
        transform: translateX(calc(100% + 32px));
    }
    to {
        opacity:1;
        transform: translateX(0);
    }
}
@keyframes fadeOut{
    to {
        opacity:0;
    }
}

.toast + .toast{
    margin-top:24px;
}

.toast__icon{
    font-size:20px;
    padding:0 16px;
}
.toast__body{
    flex-grow:1; 
}
.toast__title{
    font-size:16px;
    font-weight: 600;
    color:#333
}
.toast__msg{
    margin-top:6px;
    font-size:15px;
    color:#888;
    line-height:1.6;
}
.toast__close{
    padding:0 16px;
    font-size:24px;
    color: rgba(0,0,0,0.4);
    cursor:pointer;
}

.toast_close:hover {
    opacity:0.5;
}

.toast--success{
    border-color:#1c8302;
}
.toast--success .toast__icon{
    color:#1c8302;
}

.toast--info{
    border-color: #084685;
}
.toast--info .toast__icon{
    color:#084685;
}
.toast--warning{
    border-color:#817b06; ;
}
.toast--warning .toast__icon{
    color:#817b06;
}
.toast--error{
    border-color:#ce0909 ;
}
.toast--error .toast__icon{
    color:#ce0909 ;
}   

